<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TIFFRecompressor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TIFFDecompression.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TIFFRecompressor.Properties.Settings>
            <setting name="CompressionMethod" serializeAs="String">
                <value>Uncompressed</value>
            </setting>
            <setting name="CPUThreads" serializeAs="String">
                <value>0</value>
            </setting>
        </TIFFRecompressor.Properties.Settings>
        <TIFFDecompression.Properties.Settings>
            <setting name="CompressionMethod" serializeAs="String">
                <value>Uncompressed</value>
            </setting>
        </TIFFDecompression.Properties.Settings>
    </userSettings>
</configuration>